@import "./../assets/icons/style.css";
@import "./../scss/application";

$main-nav-background: radial-gradient(ellipse, $primary-color-light, $primary-color);
$main-nav-border-bottom-color: $primary-color-lighter;

$variable: $primary-color, $primary-color-lighter;

.principal {
    .principal__nav-container {
        height: 5em;
        background-position: center center;
        background: $main-nav-background;
        border-bottom: 2px solid $main-nav-border-bottom-color;

        nav {
            line-height: 5;
            padding-left: 0.5em;

            & * {
                vertical-align: middle;
            }
        }
    }

    .principal__main-container {
        padding-top: 1.5em;
    }
}

@media (max-width: $mobile-width) {
    .principal {
        .principal__main-container {
            padding-top: 0;
        }
    }
}
