$primary-color:                 #003679;
$primary-color-light:           #6F88A9;
$secundary-color:               #002A79;

$auxiliar-color:                #0679B3;
$orange-color:                  #E16800;
$white-color:                   #ffffff;
$yellow-color:                  #FFBB01;
$gray-color:                    #F4F4F4;


$title-font-size:                       15px;
$subtitle-font-size:                    13px;
$dark-text-font-size:                   12px;